Repository AdiPol1359/picstagram: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier --write, pnpm eslint --fix

refactor: move object down
  src/lib/utils/object.spec.ts
Due: pnpm prettier --write, pnpm eslint --fix

refactor: refactor messages
  src/lib/utils/string.spec.ts
Due: pnpm prettier --write, pnpm eslint --fix

feat: add unit tests (#72)
  package.json
  pnpm-lock.yaml
  src/lib/utils/cloudinary.spec.ts
  src/lib/utils/intl.spec.ts
  src/lib/utils/object.spec.ts
  src/lib/utils/string.spec.ts
  vitest.config.ts
Due: pnpm prettier --write, pnpm eslint --fix

refactor: change colors to oklch
  package.json
  pnpm-lock.yaml
  postcss.config.js
  tailwind.config.js
Due: pnpm prettier --write

refactor: change colors to oklch (#74)
  package.json
  pnpm-lock.yaml
  postcss.config.js
  tailwind.config.js
Due: pnpm prettier --write

refactor: change default color to oklch
  tailwind.config.js
Due: none

Path conditions:
  pnpm prettier --write: any of: *.{ts,tsx,css,json}
  pnpm eslint --fix: any of: *.{ts,tsx}
